button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #d1d1d1;
  border: 3px solid black;
}
button span {
  color: black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
button:hover {
  animation: rotate 0.7s ease-in-out both;
}
button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button span p{
	margin-top: 15px;
}
button span p a{
	text-decoration: none;
	color:black;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}




#background #pattern{
	max-width: 250px;
	max-height: 350px;
	float:right;
	overflow: auto;

}

#background{
	position: relative;
	background-color: #d1d1d1;
	margin-left: 13%;
	margin-right: 13%;
	margin-top: 3%;
	margin-bottom: 0%;
	-webkit-box-shadow: 8px 20px 71px 19px rgba(0,0,0,1);
	-moz-box-shadow: 8px 20px 71px 19px rgba(0,0,0,1);
	box-shadow: 8px 20px 71px 19px rgba(0,0,0,1);

	border-radius: 77px 25px 38px 38px;
	-moz-border-radius: 77px 25px 38px 38px;
	-webkit-border-radius: 77px 25px 38px 38px;
	border: 11px double #000000;
}
#main{
	padding: 2% 32% 0% 2%; 
}
#sidebar{
	
}
#title1 p{
	border: 20px solid transparent;
	border-image:url("img/border1.png") 150 round;
	padding:;
	font-family: "Indie Flower", cursive;
	font-size: 20px;
	position: relative;
}
#title1{
	
}

#introduction h1{
	font-family: 'Pacifico', cursive;
}

#writeups h1{
	font-family: 'Pacifico', cursive;
}
p{
	font-family: 'Shadows Into Light', cursive;
	font-size:23px;
	line-height: 90%;
}
body{
	background-image: url("https://i.ibb.co/hg9sT6y/Black-paper-floral-seamless-pattern-vector.jpg");
}


